<h1><%= @feed.title %> <small><%= @feed.url %></small></h1>

<%= link_to "edit", edit_admin_feed_path(@feed), class: "btn btn-default" %>
<%= link_to "refresh", refresh_admin_feed_path(@feed), class: "btn btn-default" %>
<%= link_to "purge", purge_admin_feed_path(@feed), class: "btn btn-danger" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>user</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>purged_at</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @feed.id %></td>
      <td><%= link_to @feed.user.email, admin_user_path(@feed.user) %></td>
      <td><%= @feed.created_at %></td>
      <td><%= @feed.updated_at %></td>
      <td><%= @feed.purged_at %></td>
    </tr>
  </tbody>
</table>

<h2>Articles</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
  </thead>

  <tbody>
    <% @feed.articles.sort.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.created_at %></td>
        <td><%= article.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
