<div class="row">
    <div class="col-md-7">
        <h3>New Subscription</h3>
        <%= form_for @feed, url: {action: :create}, html: {class: "form"} do |f| %>
            <div class="input-group">
                <%= f.url_field :url, class: "form-control", placeholder: "https://xkcd.com/rss.xml" %>
                <span class="input-group-btn">
                    <%= f.submit "Subscribe", class: "btn btn-success" %>
                </span>
            </div>
        <% end %>

        <hr />

        <h3>Top Feeds</h3>
        <% @top_feeds.each do |feed| %>
            <p>
                <span class="badge"><%= feed.users.count %></span>
                <strong><%= feed.title %></strong> -
                <%= feed.url %>
            </p>
        <% end %>
    </div>

    <div class="col-md-5">
        <h3>Current Subscriptions</h3>
        <% @subscriptions.each do |sub| %>
            <p>
                <%= sub.feed.title %>
                <span class="pull-right">
                    <%= link_to "unsubscribe", subscription_path(sub), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
                </span>
            </p>
        <% end %>
    </div>
</div>
