<!DOCTYPE html>
<html>
<head>
<title>Idoru</title>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "alert alert-#{name}" %>
  <% end -%>
  <%= yield %>
</div>

</body>
</html>
