<!DOCTYPE html>
<html>
  <head>
    <title>Cooper</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <h1>Cooper</h1>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end -%>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'reader' %>
  </body>
</html>
